<!-- Sponsors -->
<div class="grid-x grid-padding-x grid-padding-y align-justify">
  
  <div class="shrink cell">
    <ul class="menu">
      <li><a href="https://www.transparency.org"><svg class="icon icon-transparency-international"><use xlink:href="/assets/icons/symbol-defs.svg#icon-transparency-international"></use></svg></a></li>
      <li><a href="https://www.one.org/international/"><svg class="icon icon-one"><use xlink:href="/assets/icons/symbol-defs.svg#icon-one"></use></svg></a></li>
      <li><a href="https://opencorporates.com"><svg class="icon icon-open-corporates"><use xlink:href="/assets/icons/symbol-defs.svg#icon-open-corporates"></use></svg></a></li>
      <li><a href="https://www.open-contracting.org"><svg class="icon icon-open-contracting-partnership"><use xlink:href="/assets/icons/symbol-defs.svg#icon-open-contracting-partnership"></use></svg></a></li>
      <li><a href="http://www.bteam.org"><svg class="icon icon-the-b-team"><use xlink:href="/assets/icons/symbol-defs.svg#icon-the-b-team"></use></svg></a></li>
      <li><a href="https://www.globalwitness.org/en-gb/"><svg class="icon icon-global-witness"><use xlink:href="/assets/icons/symbol-defs.svg#icon-global-witness"></use></svg></a></li>
    </ul>
    </div>
  </div>

</div>
<!-- End Sponsors -->