<div class="cell">

  <a href="{{ project.url }}">
    <div class="margin-bottom-1 light-gray-background">
      {% assign image = project.image %}
      <img data-interchange="{% include images/interchange-img-small-12-medium-6-cell.html %}" data-aos="fade-in">
    </div>
  </a>

  <h3>{{ project.excerpt-text }}</h3>
      {% if project.has-logo %}
       <svg class="icon icon-clients icon-{{ project.client | slugify }} medium-gray"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ project.client | slugify }}"></use></svg>
      {% else %}
      <h4 class="sans-regular medium-gray">{{ project.client }}</h4>
      {% endif %}

</div>