<!-- Header -->
<div class="navigation" data-sticky-container>
  <div data-sticky data-options="marginTop:0;" style="width:100%" class="scrollhide-nav">
  
    <header class="grid-x grid-padding-x grid-padding-y padding-1 align-justify align-middle">
      <div class="shrink cell">
       <a href="/"><svg class="icon icon-logo-full"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo-full"></use></svg></a>
      </div>
      <div class="shrink cell">
        <a data-toggle="offCanvasRight" style="z-index: 1001"><svg class="icon icon-sort"><use xlink:href="/assets/icons/symbol-defs.svg#icon-sort"></use></svg></a>
      </div>
    </header>
  
  </div>
</div>