---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}">

<!-- Off Canvas Right -->
<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-transition="overlap" data-close-on-click="true" data-auto-focus="false">
{% include offcanvas-right.html %}
</div>
<!-- End Off Canvas Right -->

<!-- Off Canvas Bottom -->
<div class="off-canvas position-bottom" id="offCanvasBottom" data-off-canvas data-transition="overlap" data-close-on-click="true" data-auto-focus="false">
{% include offcanvas-bottom.html %}
</div>
<!-- End Off Canvas Bottom  -->

<div class="off-canvas-content" style="height: 100vh" data-off-canvas-content>
<!-- Header -->
{% include header.html %}
<!-- End Header -->

<!-- Content -->
{{content}}
<!-- End Content -->

<!-- Call to Action -->
<section class="light-gray-background">
  <div class="grid-container padding-vertical-3">
    <div class="grid-x grid-padding-x grid-padding-y">
  
      <div class="small-12 medium-8 cell">
        <h4>Find out more about us or tell us about you</h4>
        <h4 class="sans-regular medium-gray"><a href="mailto:{{site.email}}">{{site.email}}</a></h4>
      </div>
  
    </div>
  </div>
</section>
<!-- End Call to Action -->

<!-- Footer -->
{% include footer.html %}
<!-- End Footer-->
</div>

</body>

</html>