---
layout: default
---

<!-- Home Carousel -->
<div class="orbit" role="region" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <div class="orbit-wrapper">
    
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><svg class="icon icon-arrows icon-arrow-left"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-left"></use></svg></button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span><svg class="icon icon-arrows icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg></button>
    </div>
    
    <ul class="orbit-container"  style="height: 80vh">      
      {% assign projects = site.projects | sort: 'position' | where: "is-carousel", "true" %}
      {% for project in projects %}
      {% assign image = project.image %}
      <li class="orbit-slide height-100" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}">
        <a href="{{ project.url }}">
          <div class="grid-y align-center" style="height: 100%;">
            <div class="shrink cell"> 
              <div class="grid-container">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="small-12 medium-10 large-8 cell">
                    <h1 class="white">{{project.excerpt-text}}</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
     {% endfor %}      
    </ul>
      
  </div>
</div>
<!-- End Home Carousel -->

<!-- Home Intro -->
<div class="grid-container margin-vertical-3">
  <div class="grid-x grid-padding-x grid-padding-y">

    <div class="small-12 medium-8 cell">
      <h2>{{page.header}}</h2>
      <h3 class="sans-regular medium-gray">{{page.sub-header}}</h3>
    </div>

  </div>
</div>
<!-- End Home Intro -->

<!-- Home Selected Projects -->
<div class="grid-container">

  <div class="grid-x">
    <div class="small-12 medium-8 cell">
      <h2>{{page.selected-text}}</h2>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2">
    {% assign projects = site.projects | where: "is-selected", "true" %}
    {% for project in projects %}
      <div class="cell">

        <a href="{{ project.url }}">
          <div class="margin-bottom-1">
            {% assign image = project.image %}
            <img data-interchange="{% include images/interchange-img-small-12-medium-6-cell.html %}">
          </div>
        </a>

        <h3>{{ project.excerpt-text }}</h3>
        <h4 class="sans-regular medium-gray">{{ project.client }}</h4>

      </div>
    {% endfor %}
  </div>

</div>
<!-- End Home Selected Projects -->

<!-- Home Projects Link -->
<div class="grid-container margin-vertical-3">
  <div class="grid-x grid-padding-x grid-padding-y">

    <div class="small-12 medium-8 cell medium-gray">
      <a href="/projects/" class="h4 sans-regular">View all projects</a>
    </div>

  </div>
</div>
<!-- End Home Projects Link -->

<!-- Home Clients -->
<section class="black-background">
  <div class="grid-container padding-vertical-3">
    <div class="grid-x grid-padding-x grid-padding-y small-up-2 medium-up-4 medium-gray">
  
      {% for item in site.clients %}  
      <div class="cell text-center">
          <a href="{{ item[1] }}" target="_blank" rel="noopener"><span class="show-for-sr">{{ item[0] }}</span><svg class="icon icon-clients icon-{{ item[0] }}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ item[0] }}"></use></svg></a>
      </div>
      {% endfor %} 
  
    </div>
  </div>
</section>
<!-- End Home Clients -->