---
layout: default
---

<!-- Page Excerpt -->
{% if page.excerpt-text %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-left">
    <div class="small-12 medium-10 large-8 medium-offset-1 large-offset-1 cell">
      <h2>{{page.excerpt-text}}</h2>
      {% if page.client %}
      <h3 class="sans-regular medium-gray">{{page.client}}</h3>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Excerpt -->

<!-- Page Image -->
{% if page.image %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell">
      {% assign image = page.image %}
      <div data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}" class="light-gray-background page__image" style="height:50vh;">

      {% if page.video %}
      <div class="grid-y height-100 align-center">
        <div class="shrink cell text-center">
          <a href="" class="white"><svg class="icon icon-play-circle"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play-circle"></use></svg></a>
        </div>
      </div>
      {% endif %}

      </div>
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Image -->

<!-- Page Description -->
{% if page.description-text %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell">
      <h2>{{page.description-text}}</h2>
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Description -->


<!-- Page Carousel -->
{% if page.images %}
<div class="grid-x grid-padding-y align-center">
  <div class="small-12 cell">


    <div class="index__gallery" style="height: 50vh">
      {% for carouselimage in page.images %}
      {% assign image = carouselimage.image %}
        <div class="carousel-cell width-75 height-100 margin-horizontal-1" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"></div>
      {% endfor %}
    </div>

  </div>
</div>
{% endif %}
<!-- End Page Carousel -->


<!-- Page Content -->
{% if page.content %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell page__content padding-bottom-2">
      {{page.content | markdownify}}
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Content -->

<!-- Page Quote -->
{% if page.quote %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
      <h3 class="margin-bottom-0">"{{page.quote}}"</h3>
      <h4 class="medium-gray">{{page.cite}}</h3>
    </div>
  </div>
</section>
{% endif %}
<!-- End Page Quote -->


<!-- Pagination -->  
{% if page.next.url %}
<div class="grid-x margin-top-2 light-gray-background" style="min-height: 350px">
  {% assign image = page.next.image %}
  <div class="small-12 medium-6 cell pagination-image" data-interchange="{% include images/interchange-img-small-12-medium-6-cell.html %}" style="min-height: 350px">

  </div>
  
  <div class="small-12 medium-6 cell padding-space-1">
    <h5 class="sans-regular medium-gray">Next Project</h5>
    <a href="{{page.next.url}}" class="h5 sans-regular">{{page.next.title}}</a>
  </div>
</div>
{% endif %}
<!-- End Pagination -->