---
layout: default
---

<!-- Project Excerpt -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-left">
    <div class="small-12 medium-10 large-8 large-offset-1 cell">
      <h2>{{page.excerpt-text}}</h2>
      <h3 class="sans-regular medium-gray">{{page.client}}</h3>
    </div>
  </div>
</section>
<!-- End Project Excerpt -->

<!-- Project Image -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell">
      {% assign image = page.image %}
      <img data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}" class="light-gray-background">
    </div>
  </div>
</section>
<!-- End Page Image -->

<!-- Project Description -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell">
      <h2>{{page.description-text}}</h2>
    </div>
  </div>
</section>
<!-- End Project Description -->


{% if page.images %}
<!-- Project Carousel -->
<div class="orbit" role="region" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
  <div class="orbit-wrapper">
    
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span></button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span></button>
    </div>
    
    <ul class="orbit-container"  style="height: 80vh">      
      {% for image in page.images %}
      <li class="orbit-slide">
          <img src="{{ image.image }}" />
      </li>
     {% endfor %}      
    </ul>
      
  </div>
</div>
<!-- End Project Carousel -->
{% endif %}

<!-- Project Content -->
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell">
      {{page.content | markdownify}}
    </div>
  </div>
</section>
<!-- End Project Content -->


<!-- Pagination -->  
{% if page.next.url %}
<div class="grid-x light-gray-background">
  {% assign image = page.next.image %}
  <div class="small-6 cell pagination-image" data-interchange="{% include images/interchange-img-small-12-medium-6-cell.html %}">

  </div>
  
  <div class="small-6 cell padding-space-1">
    <h5 class="sans-regular medium-gray">Next Project</h5>
    <a href="{{page.next.url}}" class="h5 sans-regular">{{page.next.title}}</a>
  </div>
</div>
{% endif %}
<!-- End Pagination -->